:root {
    --family-Okta: "Okta Neue";
    --font-Outfit: "Outfit";

    --white: #fff;
    --blue: #3562F4;
    --red:#ff4d4f;
    --grey:#64748B;
    --grey-10:#F1F5F9;
    --grey-50:#E1EFFF;
    --black: #000;
    --grey-100:#F2F2F2;
    --border-color:#E2E8F0;

    --size-14: 14px;
    --size-16: 16px;
    --size-18: 18px;

    --font-400: 400;
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-900: 900;
}
